venv/
.venv/
env/

*.pt
*.pth
*.onnx
datasets/
logo_recognition_work/

__pycache__/
*.pyc
*.pyo
*.pyd
.Python

.idea/
.vscode/
*.iml

runs/
web_uploads/
web_results/

.git/
.gitignore

*.log
.DS_Store
Thumbs.db